
:root{
  --bxshadow: 2px 4px 8px 2px rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .5);
}
body{
  
  width: 100%;
  background: #181c31;
  grid-template-rows: 1fr 1fr auto;
  display: inline-grid;
  align-items: center;
  margin: 0;
  text-align: center;
}

#caption{
  margin-top: 0;
}

#container{
  width: 100%;
  bottom: 0;
}


#label{
  
  width: fit-content;
  
  margin: 0;
  padding: 0.5rem;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#sec-un{
  display:block; 
 
}
#sec{
  float: left;
 
  padding-left: 1rem;
  padding-right: 1rem;
 
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  
}


a:visited{
  color: white;

}
table{
  display: block;
  
  width: fit-content;
  height: fit-content;
}

#type-proj>h4{
  margin-top: 0.5rem;
}

#type-name{
  float: left;
  background-color: rgb(218, 104, 91);
  margin-bottom: 0.5rem;
  
  padding: 1rem;
  box-shadow: var(--bxshadow);
}

#type-job{
  float: left;
  background-color: rgb(218, 104, 91);
  margin-bottom: 0.5rem;
  
  padding: 1rem;
  box-shadow: var(--bxshadow);
}
#type-proj{
  float: left;
  background-color: #CE5374;
  margin-bottom: 0.5rem;
  
  padding: 1rem;
  box-shadow: var(--bxshadow);
}
#type{
  float: left;
  background-color: #5F5566;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: .5rem;
  box-shadow: var(--bxshadow);
}
h4, h3{
  margin: 0;
  
}

#uli{
  
  
}
#nli{
  
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  background-color: #43AA8B;
  box-shadow: var(--bxshadow);
  padding: 0.5rem;
  
}
#norm{
  float: left;
  background-color: #5666b6;
  box-shadow: var(--bxshadow);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  max-width: 500px;
}
#cont{
  
  
  
  max-width: 700px;
  display: inline-block;
  text-align: center;
  padding: 2rem;
  padding-top: 1rem;
  
}

.label1{
  background-color: aquamarine;
  
  
}
.label2{
  background-color: salmon;
  
}
.label3{
  background-color: yellowgreen;
  
}
.cont1{
  
  margin: 0;
  width: fit-content;
  min-height: 30rem;
  height: max-content;
  max-height: 30rem;
  overflow-y: scroll;
  
}


.cont2{
  
  margin: 0;
  width: fit-content;
  min-height: 30rem;
  height: max-content;
  max-height: 30rem;
  overflow-y: scroll;
  
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#res{
  max-width: 100%;
  width: inherit;
  height: 25rem;
  overflow:hidden !important
}

object{
  height: inherit;
}

.cont3{
  background-color: violet;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  width: fit-content;
  height: 20rem;
}

 a{
  text-decoration: none;
}

*{
  
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.profile{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
}

#mypic{

  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  
  
  
}

.icon{
  padding: 2rem;
  padding-bottom: 0.5rem;
  width: 7rem;
  transition: 0.3s ease-in-out;
}

.icon:hover{
  transform: scale(1.2);
  
  
}

.title{
  
  color:white;
  margin-bottom: 2rem;
}

